@page
@model CookLabWeb.Pages.Difficulties.UpdateModel
@{
}
<form method="post">
    <div class="form-group">
        <label>Id</label>
        <input readonly name="id" class="form-control" value="@Model.Difficulty.Id">
        <label>Name</label>
        <input name="name" class="form-control" value="@Model.Difficulty.Name">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>