@page
@model CookLabWeb.Pages.CookLabObjects.IngredientsModel
@{

    <form method="post">
        <div class="form-group">
            <label>Ingredient</label>
            <input name="name" class="form-control" placeholder="Enter Ingridient">
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Ingredient</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ingredent in Model._ingredients)
            {
                <tr>
                    <th scope="row">@ingredent.Id</th>
                    <td>@ingredent.Name</td>
                </tr>
            }
        </tbody>
    </table>




}
