@page
@model CookLabWeb.Pages.Admin.AdminModel
@{
    <div align ="center" >
    <h1>Painel do Administrador</h1>

    <a class="btn btn-secondary btn-lg btn-block" asp-area="" asp-page="/CookLabObjects/Ingredients">Ingredients</a>
    <a class="btn btn-secondary btn-lg btn-block" asp-area="" asp-page="/CookLabObjects/Category">Category</a>
    <a class="btn btn-secondary btn-lg btn-block" asp-area="" asp-page="/CookLabObjects/Measure">Measure</a>
    </div>
}
