@page
@model CookLabWeb.Pages.Admin.AdminModel
@{
    <div align="center">
        <h1>Painel do Administrador</h1>

        <a class="btn btn-secondary btn-lg btn-block" asp-area="" asp-page="/Ingredients/Ingredient">Ingredients</a>
        <a class="btn btn-secondary btn-lg btn-block" asp-area="" asp-page="/Categories/Category">Category</a>
        <a class="btn btn-secondary btn-lg btn-block" asp-area="" asp-page="/Measures/Measure">Measure</a>
        <a class="btn btn-secondary btn-lg btn-block" asp-area="" asp-page="/Difficulties/Difficulty">Difficulty</a>
        

    </div>
    <br />
    <div align="center">
        <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-page="/Users/User">Users</a>
        <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-page="/Recipes/Recipe">Recipe</a>
        <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-page="/Recipes/ListRecipes">Recipe List</a>
    
    
    </div>
}
