@page
@model CookLabWeb.Pages.Categories.UpdateModel
@{
    <form method="post">
        <div class="form-group">
            <label>Id</label>
            <input readonly name="id" class="form-control" value="@Model.Category.Id">
            <label>Name</label>
            <input name="name" class="form-control" value="@Model.Category.Name">
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}
