@page
@model CookLabWeb.Pages.Users.LogInModel
@{
}
<form method="post">
    <div class="form-group">
      
        <label>User Name</label>
        <input name="username" class="form-control" placeholder="Enter User Name">
        <br />
        <label>Password</label>
        <input type="password" name="password" class="form-control" placeholder="">
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>