@page
@model CookLabWeb.Pages.Users.LogInModel
@{
}
<form method="post">
    <div class="form-group">
      
        <label>Email</label>
        <input name="email" class="form-control" placeholder="Enter Email">
        <br />
        <label>Password</label>
        <input type="password" name="password" class="form-control" placeholder="Enter Name">
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>