@page
@model CookLabWeb.Pages.Users.SingUpModel
@{
}
<form method="post">
    <div class="form-group">
        <label>Name</label>
        <input name="name" class="form-control" placeholder="Enter Name">
        <br />
        <label>Username</label>
        <input name="username" class="form-control" placeholder="Enter Username">
        <br />
        <label>Email</label>
        <input name="email" class="form-control" placeholder="Enter Email">
        <br />
        <label>Password</label>
        <input type="password" name="password" class="form-control" placeholder="********">
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>